<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="pages-wrapper">
    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>
      <!--Sistema de Rutas-->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="car-body">
              <h3>estas son las rutas de la aplicacion</h3>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
